# Temporary files
Thumbs.db
.DS_Store
*~

# Package managers
node_modules/
bower_components/
jspm_packages/

# TypeScript defenitions
typings/

# Compiled sources
built/
dist/
src/**/*.css
src/**/*.js

# JetBrains IDE
.idea

# Apple Xcode
*.xcodeproj
*.xcworkspace

# Logs
npm-debug.log
debug.log
