# Temporary files
Thumbs.db
.DS_Store
*~

# Node.js modules
node_modules/

# TypeScript defenitions
typings/

# Compiled sources
built/
dist/

# JetBrains IDE
.idea

# Apple Xcode
*.xcodeproj
*.xcworkspace

# Logs
npm-debug.log
debug.log

