header.clearfix.noselect
section#project-container.clearfix.noselect
  aside#left-sidebar
    div.sidebar-title.text-center.clearfix Sprites
    div.sidebar-workspace list
  section#drop-section drop section
footer.clearfix.noselect
