doctype html
html
	head
		meta(charset="UTF-8")
		title
		link(rel="stylesheet", href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="../styles/project.css")
	body(tabindex="-1")
		app.clearfix

		script.
			document.write('<base href="file://' + __dirname + '/../" />');
			require('../../ProjectBootstrap');
