doctype html
html
	head
		meta(charset="UTF-8")
		title
		link(rel="stylesheet", href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="../styles/project.css")
	body(tabindex="-1")
		app.clearfix

		script.
			var path = require('path');
			var base = path.normalize(path.join('file://', __dirname, '../'));

			document.write('<base href="' + base + '" />');
			require('../../project-bundle');
